.socialMedia {
    display: flex;
    gap: 50px;
    justify-content: center;
  }
  
  .icon {
    font-size: 30px;
    color: #333;
    transition: color 0.3s ease-in-out;
    pointer-events: all;
    transition: all ease .2s;
  }
  
  .icon:hover {
    scale: 1.2;
  }

.colorIcon {
    color: white;
  }
  