.navBar {
position: sticky;
top: 0;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items:flex-end;
border-bottom: 2px solid #e0e0e0;
height: fit-content;
padding-top: 1rem;
z-index: 100;
background-color: white;
}
.navBar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: fit-content;
    gap: 1rem;
    align-items: center;
}

.navBar ul li {
    cursor: pointer;
    font-size: 18px;
    display: flex;
    gap: .6rem;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 1rem;
    height: fit-content;
    padding: .5rem;
    border-radius: 20px;
}






