.gallery {
    width: 90dvw;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 25rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem),1fr));
    gap: 5px;
    overflow: hidden;
}

.itemGallery {
    position: relative;
    overflow: hidden;
}

.itemGallery img {
   transition: all ease .5s;
}

.itemGallery img:hover {
    scale: 1.1;
}

.backgruoundFilter {
    background-color: rgba(79, 66, 12, 0.741); 
    position: absolute;
    width: 50rem;
    height: 25rem;
    overflow: hidden;
}