.gallery {
    width: 90vw; /* Corregido de 90dvw a 90vw */
    margin: 0 auto;
    display: grid;
    grid-auto-rows: minmax(25rem, auto);
    grid-template-columns: repeat(2, minmax(min(100%, 17rem), 1fr));
    gap: 5px;
}
.wraperGallery {
    height: fit-content;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1200px) {
    .gallery {
        grid-template-columns: 1fr; /* Cambiado a 1 columna para móviles */
    }
}

@media (min-width: 1201px) and (max-width: 992px) { 
    .gallery {
        grid-template-columns: repeat(2, minmax(min(100%, 15rem), 1fr)); /* Asegurando 2 columnas */
    }
}

@media (min-width: 768px) and (max-width: 1174px) { 
    .gallery {
        grid-template-columns: repeat(2, minmax(min(100%, 16rem), 1fr)); /* Asegurando 2 columnas */
    }
}

@media (min-width: 1174px) {
    .gallery {
        grid-template-columns: repeat(2, minmax(min(100%, 17rem), 1fr)); /* Manteniendo 4 columnas para pantallas grandes */
    }
}


.moreTypesTents {
    display: flex;
    width: 80%;
    height: 6rem;
    margin: 0 auto;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
.moreTypesTents h2 {
    font-size: 2rem;
    
 }

.moreTypesTents p {
   font-size: 1.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
    border-bottom: 1px solid black;
    cursor: pointer;
    text-transform: lowercase;
    
}


.itemGallery {
    position: relative;
    overflow: hidden;
}

.itemGallery img {
   transition: all ease .5s;
}

.itemGallery {
    position: relative;
    overflow: hidden;
    pointer-events: auto; 
}

.itemGallery img {
    transition: all ease .5s;
    pointer-events: auto;
}

.itemGallery img:hover {
    scale: 1.1;
   
    
}

.backgruoundFilter {
    background-color: rgba(21, 30, 22, 0.405); 
    position: absolute;
    width: 100%;
    height: 27rem;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    pointer-events: none; 
    color: aliceblue;
    text-align: center;
}

.backgruoundFilter p {
    width: 80%;
    font-size: 1.1rem;
    text-align: center;
}
.backgruoundFilter h2 {
    font-size: 4rem;
    color: white;
}