.sectionOne {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
   padding-top: 1rem;
   overflow: hidden;
}
.wrapper {
    background:url("../.././../../../../public/assets/carpa2.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.conentSection {
    
}

.backgroundFilter {
    background-color: rgba(21, 30, 22, 0.63); 
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
    color: aliceblue;
    text-align: center;
}

