.sectionOne {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
   overflow: hidden;
}
.wrapper {
    background:url("../.././../../../../public/assets/carpa2.jpeg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}


.backgroundFilter {
    background-color: rgba(21, 30, 22, 0.63); 
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: hidden;
   
}

.contentBackground {
    z-index: 1;
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    pointer-events: none; 
    color: aliceblue;
    gap: 4rem;
    align-items: center;
}

.backgroundFilter button {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    pointer-events: all;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    border-bottom: 1px solid white;
    
}

.backgroundFilter button:hover {
    scale: 1.01;
}
.backgroundFilter h2 {
    font-size: 5rem;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.backgroundFilter p {
    font-size: 1.5rem;
    max-width: 800px;
    line-height: 1;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .backgroundFilter h2 {
        font-size: 2.5rem;
    }
    
    .backgroundFilter p {
        font-size: 1.3rem;
        max-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .backgroundFilter h2 {
        font-size: 4rem;
        padding: 0 1rem;
    }
    
    .backgroundFilter p {
        font-size: 1.5rem;
        max-width: 90%;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 480px) {
    .backgroundFilter h2 {
        font-size: 1.8rem;
    }
    
    .backgroundFilter p {
        font-size: 1rem;
    }
}






